<table>
    <tr>
    <th>名前</th>
    <th>年齢</th>
    </tr>
    <tr>
    <% @users.each do |u| %>
       <%= link_to u.user_name, main_edit_path(:id => u.id), :method => :post %>
    <% end %>
    </tr>
    <tr>
    <% @users.each do |u| %>
        <td><%= u.user_age %></td>
    <% end %>   
    </tr>
</table>